DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=verify-full&channel_binding=require
NEXT_PUBLIC_STACK_PROJECT_ID=
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=
STACK_SECRET_SERVER_KEY=
BACKEND_URL=
REVALIDATE_SECRET=
