@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2115 0.0072 264.4099);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2115 0.0072 264.4099);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2115 0.0072 264.4099);
  --primary: oklch(0.6249 0.2024 16.0919);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9772 0 0);
  --secondary-foreground: oklch(0.2115 0.0072 264.4099);
  --muted: oklch(0.9772 0 0);
  --muted-foreground: oklch(0.5491 0.0226 248.2392);
  --accent: oklch(0.9452 0.0284 6.2202);
  --accent-foreground: oklch(0.6249 0.2024 16.0919);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9234 0 0);
  --input: oklch(0.9234 0 0);
  --ring: oklch(0.6249 0.2024 16.0919);
  --chart-1: oklch(0.6249 0.2024 16.0919);
  --chart-2: oklch(0.6454 0.1668 351.6217);
  --chart-3: oklch(0.5656 0.2064 294.1453);
  --chart-4: oklch(0.7118 0.1879 145.4299);
  --chart-5: oklch(0.8094 0.1437 81.0812);
  --sidebar: oklch(0.9848 0 0);
  --sidebar-foreground: oklch(0.2115 0.0072 264.4099);
  --sidebar-primary: oklch(0.6249 0.2024 16.0919);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9452 0.0284 6.2202);
  --sidebar-accent-foreground: oklch(0.6249 0.2024 16.0919);
  --sidebar-border: oklch(0.9234 0 0);
  --sidebar-ring: oklch(0.6249 0.2024 16.0919);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.5rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(220 10% 10%);
  --shadow-2xs: 0px 0.5rem 1.5rem 0.25rem hsl(220 10% 10% / 0.05);
  --shadow-xs: 0px 0.5rem 1.5rem 0.25rem hsl(220 10% 10% / 0.05);
  --shadow-sm: 0px 0.5rem 1.5rem 0.25rem hsl(220 10% 10% / 0.10), 0px 1px 2px -0.75px hsl(220 10% 10% / 0.10);
  --shadow: 0px 0.5rem 1.5rem 0.25rem hsl(220 10% 10% / 0.10), 0px 1px 2px -0.75px hsl(220 10% 10% / 0.10);
  --shadow-md: 0px 0.5rem 1.5rem 0.25rem hsl(220 10% 10% / 0.10), 0px 2px 4px -0.75px hsl(220 10% 10% / 0.10);
  --shadow-lg: 0px 0.5rem 1.5rem 0.25rem hsl(220 10% 10% / 0.10), 0px 4px 6px -0.75px hsl(220 10% 10% / 0.10);
  --shadow-xl: 0px 0.5rem 1.5rem 0.25rem hsl(220 10% 10% / 0.10), 0px 8px 10px -0.75px hsl(220 10% 10% / 0.10);
  --shadow-2xl: 0px 0.5rem 1.5rem 0.25rem hsl(220 10% 10% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2115 0.0072 264.4099);
  --foreground: oklch(0.9696 0 0);
  --card: oklch(0.2115 0.0072 264.4099);
  --card-foreground: oklch(0.9696 0 0);
  --popover: oklch(0.2115 0.0072 264.4099);
  --popover-foreground: oklch(0.9696 0 0);
  --primary: oklch(0.6249 0.2024 16.0919);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3137 0.0183 256.8010);
  --secondary-foreground: oklch(0.9696 0 0);
  --muted: oklch(0.3137 0.0183 256.8010);
  --muted-foreground: oklch(0.7200 0.0165 248.0568);
  --accent: oklch(0.3571 0.1311 19.2960);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3616 0.0221 256.8045);
  --input: oklch(0.3616 0.0221 256.8045);
  --ring: oklch(0.6249 0.2024 16.0919);
  --chart-1: oklch(0.6249 0.2024 16.0919);
  --chart-2: oklch(0.6454 0.1668 351.6217);
  --chart-3: oklch(0.5656 0.2064 294.1453);
  --chart-4: oklch(0.7118 0.1879 145.4299);
  --chart-5: oklch(0.8094 0.1437 81.0812);
  --sidebar: oklch(0.2328 0.0084 264.3981);
  --sidebar-foreground: oklch(0.9696 0 0);
  --sidebar-primary: oklch(0.6249 0.2024 16.0919);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3571 0.1311 19.2960);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3616 0.0221 256.8045);
  --sidebar-ring: oklch(0.6249 0.2024 16.0919);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.5rem;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0.25rem;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 0.5rem 1.5rem 0.25rem hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 0.5rem 1.5rem 0.25rem hsl(0 0% 0% / 0.25);
  --shadow-sm: 0px 0.5rem 1.5rem 0.25rem hsl(0 0% 0% / 0.50), 0px 1px 2px -0.75px hsl(0 0% 0% / 0.50);
  --shadow: 0px 0.5rem 1.5rem 0.25rem hsl(0 0% 0% / 0.50), 0px 1px 2px -0.75px hsl(0 0% 0% / 0.50);
  --shadow-md: 0px 0.5rem 1.5rem 0.25rem hsl(0 0% 0% / 0.50), 0px 2px 4px -0.75px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0px 0.5rem 1.5rem 0.25rem hsl(0 0% 0% / 0.50), 0px 4px 6px -0.75px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0px 0.5rem 1.5rem 0.25rem hsl(0 0% 0% / 0.50), 0px 8px 10px -0.75px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0px 0.5rem 1.5rem 0.25rem hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
