/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 6px;  /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal scroll) */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Track background color */
}

::-webkit-scrollbar-thumb {
    background: #383737;     /* Thumb color */
    /* border-radius: 10px; */  /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;     /* Thumb color on hover */
}
